@import "_normalize.scss";
@import "_mixins.scss";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F9F9F9
}

// Note
.learn {
  text-align: center;
  @include center-element;

  h1 {
    font-family: Nexa Bold;
    @include opacity(0.8);
  }
  h2 {
    font-family: varela round;
    color: blue;
  }
}