@import "_normalize.scss";
@import "_mixins.scss";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #8CC9FF;
}

// Note
.note-list {
  @include centerer;
  width: 65%;
  box-shadow: -7px 20px 0 #5A98CF;
  background-color: #2E4457;
  border: 1px solid #5A98CF;
  border-radius: 5px;

  li {
    font-family: Nexa Bold;
    font-size: 34px;
    color: #FFF8FB;
    margin: 30px 60px;
  }
  li:nth-child(even) {
    color: #FFF;
  }
}